<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login Page - Ace Admin</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Html.Partial("_Head.Styles")
    @RenderSection("styles", false)

    @Html.Partial("_Head.Scripts")
    @RenderSection("scripts", false)
</head>

<body>
    @RenderBody()
    <div style="display: none" id="loading-wrapper">
        <div class="loading">
            <div id="spinner-preview"></div>
        </div>
    </div>
</body>
</html>
