<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin - @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->

    <link href="/Content/BackEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/BackEnd/css/font-awesome.min.css" />

    <!--[if IE 7]>
		<link rel="stylesheet" href="/Content/BackEnd/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="/Content/BackEnd/css/jquery-ui-1.10.3.full.min.css" />

    <!-- page specific plugin styles -->
    @RenderSection("styles", false)

    <!-- fonts -->

    <link rel="stylesheet" href="/Content/BackEnd/css/jquery.gritter.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/ace-fonts.css" />

    <!-- ace styles -->

    <link rel="stylesheet" href="/Content/BackEnd/css/uncompressed/ace.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="/Content/BackEnd/css/ace-ie.min.css" />
		<![endif]-->


    <link rel="stylesheet" href="/Content/BackEnd/template.css" />
    <link rel="stylesheet" href="/Content/fancybox/jquery.fancybox.css" />

    <!-- ace settings handler -->

    <script src="/Scripts/BackEnd/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
		<script src="/Scripts/BackEnd/html5shiv.js"></script>
		<script src="/Scripts/BackEnd/respond.min.js"></script>
		<![endif]-->
    <!-- basic scripts -->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Scripts/BackEnd/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/Scripts/BackEnd/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
    <script src="/Scripts/Backend/jquery-ui-1.10.3.full.min.js"></script>
</head>

<body>
    @RenderBody()
    <div style="display: none" id="loading-wrapper">
        <div class="loading">
            <div id="spinner-preview"></div>
        </div>
    </div>

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/Scripts/BackEnd/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/Scripts/BackEnd/bootstrap.min.js"></script>
    <script src="/Scripts/BackEnd/typeahead-bs2.min.js"></script>
    <script src="~/Scripts/Backend/bootbox.min.js"></script>
    <script src="/Scripts/BackEnd/jquery.maskedinput.min.js"></script>

    <script type="text/javascript" src="/Scripts/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript">
        var $TargetControl;
        $(".browsefile").click(function () {
            $TargetControl = $(this).parent().find("input");
            var imageUrl = $TargetControl.val();
            $.fancybox.open({
                href: '@Url.Action("MediaBrowser", "Media", new { area = "Admin" })' + "?imageUrl=" + imageUrl,
                type: 'iframe', width: "95%", height: "auto"
            });
        });
        $('[data-rel=tooltip]').tooltip({ container: 'body' });
        $('.date-picker').datepicker({
            autoclose: true, dateonly: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        $('.input-mask-phone').mask('(999) 999-9999');
    </script>

    <!-- page specific plugin scripts -->

    @RenderSection("scripts", false)

    <!-- ace scripts -->

    <script src="/Scripts/BackEnd/ace-elements.min.js"></script>
    <script src="/Scripts/BackEnd/uncompressed/ace.js"></script>
    <script src="/Scripts/BackEnd/spin.min.js"></script>

    <script src="/Scripts/Shared/admin.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/BackEnd/jquery.gritter.min.js"></script>
</body>
</html>
