@model PX.Business.Models.UserGroups.GroupPermissionsModel
@{
    ViewBag.Header = "Group Permission";
    ViewBag.Title = "Group Permission Management";
    ViewBag.Description = "Menu Management Page";
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @Model.Name
        </small>
    </h1>
</div>
@using (Ajax.BeginForm(new AjaxOptions
    {
        LoadingElementId = "loading-wrapper",
        OnSuccess = "OnSuccess"
    }))
{
    Html.HiddenFor(m => m.UserGroupId);
    <div class="row">
        <div class="col-xs-9 col-md-offset-1">
            <div class="control-group">
                @foreach (var item in Model.Permissions)
                {
                    
                    <div class="checkbox">
                        <label>
                            <input name="@item.GroupPermissionId" type="checkbox" class="ace ace-switch ace-switch-6" @(item.HasPermission ? "checked" : string.Empty) />
                            <span class="lbl">&nbsp; &nbsp; @item.PermissionName</span>
                        </label>
                    </div>
                }
            </div>
            <br/>
            <br/>
            <div class="clearfix col-md-offset-1">
            <button class="btn btn-info" type="submit">
                <i class="fa fa-check bigger-110"></i>
                Save
            </button></div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        function OnSuccess(response) {
            ShowMessage(response);
        }
    </script>
}
