@model PX.Business.Models.SQLTool.HistoryViewModel
@{
    ViewBag.Title = "History";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/Bootstrap/css/bootstrap.min.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/DataTable/css/jquery.dataTables.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/DataTable/css/jquery.dataTables_themeroller.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/fancybox/jquery.fancybox.css")"/>

@if (!Model.InFancybox)
{
    <h2>History</h2>
}
<table id="historyTable" class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th>Query</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DataTable/jquery.dataTables.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/DataTable/dataTable_bootstrap.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/fancybox/jquery.fancybox.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#historyTable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("AjaxHistory")",
                 "bProcessing": true,
                 "bFilter": false,
                 "bSort": false,
                 "bLengthChange": false,
                 "iDisplayLength": 5,
                 "sServerMethod": "POST",
                 "aoColumns": [
                    { "mData": "LastUpdate" },
                    { "mData": "Query" },
                    { "mData": "Query" }
                 ],
                 "aoColumnDefs": [
                                 {
                                     "aTargets": [0],
                                     "mRender": function (data, type, row) {
                                         return new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                                     },
                                 },
                                 { "aTargets": [1] },
                                 {
                                     "aTargets": [2],
                                     "mRender": function (data, type, row) {
                                         var html = "";
                                         @if (Model.InFancybox)
                                         {
                                             <text>html = "<button onclick='SelectVersion(this)'>Select</button>";</text>
                                         }
                                         return html;
                                     }
                                 }
                 ]
             });
         });
                         function SelectVersion(e) {
                             var query = $(e).parent().prev().text();
                             window.parent.ValueSelected(query);
                             parent.$.fancybox.close();
                         }
</script>
