@using PX.Business.Models.SQLTool
@model SQLResult
@{
    Layout = "../Shared/_Layout.cshtml";
}
<h2> <a href="@Url.Action("Index", "Home", new { area = "Admin"})">Admin DashBoard</a> >> SQL Tool</h2>
@Html.DisplayFor(m => m.ConnectionString)
@using (Html.BeginForm("Index", "SQLTool", FormMethod.Post, new { @class = "form-horizontal", id = "queryForm" }))
{
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group col-xs-offset-4 col-xs-12">
                    @Html.LabelFor(m => m.Query, new { @class = "col-xs-12" })
                    <div class="col-xs-12">
                        @Html.TextAreaFor(m => m.Query, 7, 20, new { id = "query", @class = "col-xs-11" })
                    </div>
                </div>
                <div class="space-4 clearfix"></div>
                <div class="form-group col-xs-offset-4 col-xs-12">
                    <div class="col-xs-2">
                        @Html.LabelFor(m => m.ReadOnly)
                        &nbsp;
                        @Html.EditorFor(m => m.ReadOnly)
                        @Html.ValidationMessageFor(m => m.ReadOnly)
                    </div>
                    <div class="col-xs-2">
                        @Html.LabelFor(m => m.HtmlEncode)
                        &nbsp;
                        @Html.EditorFor(m => m.HtmlEncode)
                        @Html.ValidationMessageFor(m => m.HtmlEncode)
                    </div>
                    <div class="col-xs-2">
                        @Html.LabelFor(m => m.SaveToHistory)
                        &nbsp;
                        @Html.EditorFor(m => m.SaveToHistory)
                        @Html.ValidationMessageFor(m => m.SaveToHistory)
                    </div>
                    <div class="col-xs-2">
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="ShowHistory(); return false;">History</button>
                            @if (Model.Histories != null && Model.Histories.Any())
                            {
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="fa fa-angle-down icon-on-right bigger-110"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @{ 
                                var count = 0;
                                foreach (SQLCommandHistoryModel cmd in Model.Histories)
                                {
                                    count++;
                                        <li><a href="javascript:void(0)" id="history_@count" onclick="SelectHistory('history_@count')">@cmd.Query</a></li>
                                }
                                    }
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)" onclick="ShowHistory()">More ...</a></li>
                                </ul>
                            }
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="btn-group">
                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                @MText(Tags.Text, "AdminModule:::SQLTool:::Forms:::Select", "Select")
                                <span class="fa fa-angle-down icon-on-right bigger-110"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (string table in Model.Tables)
                                {
                                    <li><a href="javascript:void(0)" onclick="SelectCommand('@table')">@table</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label for="chkSqlGenerators">Show SQL Templates</label>
                        &nbsp;
                        @Html.CheckBox("chkSqlGenerators", false, new { onclick = "ToggleVisibility('SqlGenerators')" })
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="row" id="SqlGenerators" style="display: none">
                    <div class="">
                        <div>
                            <div class="col-xs-1">
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                        Insert
                                            <span class="fa fa-angle-down icon-on-right bigger-110"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (string table in Model.Tables)
                                        {
                                            <li><a href="javascript:void(0)" onclick="InsertCommand('@table')">@table</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                        Update
                                            <span class="fa fa-angle-down icon-on-right bigger-110"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (string table in Model.Tables)
                                        {
                                            <li><a href="javascript:void(0)" onclick="UpdateCommand('@table')">@table</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
                                        Delete
                                            <span class="fa fa-angle-down icon-on-right bigger-110"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (string table in Model.Tables)
                                        {
                                            <li><a href="javascript:void(0)" onclick="DeleteCommand('@table')">@table</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                        Create
                                            <span class="fa fa-angle-down icon-on-right bigger-110"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (string table in Model.Tables)
                                        {
                                            <li><a href="javascript:void(0)" onclick="CreateCommand('@table')">@table</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-1">
                                <div class="btn-group col-sm-11">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        @MText(Tags.Text, "AdminModule:::SQLTools:::Forms:::Alter", "Alter")
                                        <span class="fa fa-angle-down icon-on-right bigger-110"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @foreach (string table in Model.Tables)
                                        {
                                            <li><a href="javascript:void(0)" onclick="AlterCommand('@table')">@table</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-12"></div>
                <div class="">
                    <input type="hidden" id="exportToFile" name="exportToFile" value="false" />
                    <input type="submit" value="Run Query" class="btn btn-primary" onclick="$('#exportToFile').val('false'); return true;" />
                    <input type="submit" value="Run & Save" class="btn btn-primary" onclick="$('#exportToFile').val('true'); return true;" />
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Error != null)
{
    <div class="alert alert-danger">
        @Model.Error.Message
    </div>
}
@if (Model.RecordsAffected > 0 && Model.ReadOnly)
{
    <div class="alert alert-warning">
        Since you are in Read only mode, your changes are not persist to Database.
    </div>
}
@if (Model.ReturnData != null)
{
    foreach (DataResult set in Model.ReturnData)
    {
        int count = 0;
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Count</th>
                @foreach (string col in set.ColumnNames)
                {
                    <th>@col</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (List<object> row in set.Data)
            {
                <tr>
                    <td>@(++count)</td>
                    @foreach (object item in row)
                    {
                        if (Model.HtmlEncode)
                        {
                        <td>@item</td>
                        }
                        else
                        {
                        <td>@(new MvcHtmlString(item == null ? "" : item.ToString()))</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    <hr />
    }
}
<span class="label label-success">Process Time: @Model.ProcessTime ms
</span>
<span class="label label-success">Affected Records @Model.RecordsAffected
</span>

@section scripts
{
    <script type="text/javascript">
        var querySelector = "#query";

        function SelectHistory(id) {
            $(querySelector).val($("#" + id).text());
        }

        function ShowHistory() {
            $.fancybox({
                href: "@Url.Action("Histories")",
                type: 'iframe',
                width: '90%',
                'onClosed': function () {
                    
                }
            });
        }

        function ToggleVisibility(id) {
            $("#" + id).toggle();
        }

        function ValueSelected(query) {
            $(querySelector).val(query);
        }

        function SelectCommand(table) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GenerateSelectStatement")",
                data: { tablename: table },
                success: function (data) {
                    $(querySelector).val(data);
                }
            });
        }

        function InsertCommand(table) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GenerateInsertStatement")",
                data: { tablename: table },
                success: function (data) {
                    $(querySelector).val(data);
                }
            });
        }

        function UpdateCommand(table) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GenerateUpdateStatement")",
                data: { tablename: table },
                success: function (data) {
                    $(querySelector).val(data);
                }
            });
        }

        function DeleteCommand(table) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GenerateDeleteStatement")",
                data: { tablename: table },
                success: function (data) {
                    $(querySelector).val(data);
                }
            });
        }

        function CreateCommand(table) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GenerateCreateStatement")",
                data: { tablename: table },
                success: function (data) {
                    $(querySelector).val(data);
                }
            });
        }

        function AlterCommand(table) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GenerateAlterStatement")",
                data: { tablename: table },
                success: function (data) {
                    $(querySelector).val(data);
                }
            });
        }
    </script>
}
