@model PX.Business.Models.PageTemplates.PageTemplateLogsModel
@foreach (var item in Model.Logs)
{
    <div class="log-item clearfix">
        <div class="col-xs-12">
            <div class="creator col-xs-3 col-sm-2 col-md-1">
                <img alt="@item.Creator.FullName" src="@item.Creator.AvatarPath" />
                <div class="creator-name col-xs-12">
                    <a class="user" href="@Url.Action("Profiles", "Users", new { id = item.Creator.Id })">@item.Creator.FullName </a>
                </div>
            </div>
            <div class="log col-xs-9 col-sm-10 col-md-11">
                @Nl2Br(item.ChangeLog)
            </div>

            <div class="time col-xs-9 col-sm-10 col-md-11">
                <i class="icon-time bigger-110"></i>
                @item.Created
            </div>
        </div>

        <div class="tools action-buttons">
            <a href="@Url.Action("Edit", new { logId = item.Id })" class="blue" title="Revert to this version">
                <i class="icon-rotate-left bigger-125"></i>
            </a>

            <a href="#" class="red" title="Preview this version">
                <i class="icon-eye-open bigger-125"></i>
            </a>
        </div>
    </div>
}