@model PX.Business.Models.PageTemplates.PageTemplateManageModel

@{
    ViewBag.Header = "Page Template Edit";
    ViewBag.Title = "Page Template Management";
    ViewBag.Description = "Edit Page Template";
}
@section styles{
    <link rel="stylesheet" href="/Content/CodeMirror/codemirror.css" />
    <link rel="stylesheet" href="/Scripts/CodeMirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="/Scripts/CodeMirror/addon/display/fullscreen.css">
    <link rel="stylesheet" href="/Content/CodeMirror/theme/pastel-on-dark.css">
}
<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="icon-double-angle-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        @ShowStatusMessage()
        @using (Html.BeginForm("Edit", "PageTemplates", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
</div>

@section scripts
{
    @* Code Mirror *@
    <script src="/Scripts/CodeMirror/codemirror.js"></script>
    <script src="/Scripts/CodeMirror/addon/hint/show-hint.js"></script>
    <script src="/Scripts/CodeMirror/addon/hint/xml-hint.js"></script>
    <script src="/Scripts/CodeMirror/addon/hint/html-hint.js"></script>
    <script src="/Scripts/CodeMirror/addon/hint/javascript-hint.js"></script>
    <script src="/Scripts/CodeMirror/addon/hint/css-hint.js"></script>
    <script src="/Scripts/CodeMirror/mode/xml/xml.js"></script>
    <script src="/Scripts/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="/Scripts/CodeMirror/mode/css/css.js"></script>
    <script src="/Scripts/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>

    <script type="text/javascript">
        var editor;
        $(function () {
            editor = CodeMirror.fromTextArea(document.getElementById("template-content"), {
                lineNumbers: true,
                mode: "text/html",
                theme: 'pastel-on-dark',
                extraKeys: {
                    "Ctrl-Space": "autocomplete",
                    "F11": function (cm) {
                        console.log(cm);
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                },
                value: document.documentElement.innerHTML
            });
            var getCurlyBracketListUrl = "@Url.Action("GetCurlyBracketList", "CurlyBracket")";
            $.ajax({
                type: "POST",
                url: getCurlyBracketListUrl,
                async: false,
                success: function (data) {
                    $.map(data, function (item) {
                        $("#curlyBracketList")
                            .append("<li><a href='javascript:void(0)' onclick='printCurlybracket(\""
                                + item.CurlyBracket + "\")'>" +
                                item.Name + "</a></li>");
                    });
                }
            });
        });
        function printCurlybracket(curlyBracket) {
            editor.replaceRange(curlyBracket, editor.getCursor());
        }
    </script>
}
