@using PX.Core.Framework.Enums
@{
    ViewBag.Header = "User";
    ViewBag.Title = "User Management";
    ViewBag.Description = "User Management Page";
}

@section styles{
    <link rel="stylesheet" href="/Content/backend/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="/Content/backend/css/datepicker.css" />
    <link rel="stylesheet" href="/Content/backend/css/ui.jqgrid.css" />
}
<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="icon-double-angle-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

@section scripts
{
    <script src="/Scripts/BackEnd/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/Scripts/BackEnd/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="/Scripts/BackEnd/jqGrid/i18n/grid.locale-en.js"></script>
    <script type="text/javascript">
        var gridSelector = "#grid-table";
        var pagerSelector = "#grid-pager";
        var lastSel;

        function Edit(row) {
            console.log(row);
        }
        jQuery(function ($) {

            jQuery(gridSelector).jqGrid({
                datatype: "json",
                url: "@Url.Action("_AjaxBinding")",
                caption: "User Management",
                height: 400,
                colNames: ['', 'Id', 'Email', 'Password', 'FirstName', 'LastName', 'User Group', 'Status', 'Identity Number', 'Phone', 'Active', 'LastLogin', 'Created', 'CreatedBy', 'Updated', 'UpdatedBy'],
                colModel: [
                    {
                        name: 'preview', width: 50, sortable: false, search: false, align: "center",
                        formatter: function (cellvalue, options, rowObject) {
                            return "<a href='@Url.Action("Profiles")/" + options.rowId + "'><div class='ui-pg-div ui-inline-edit' title='' data-original-title='Show User Information'><span class='icon-eye-open'></span></div></a>";
                        }
                    },
                    { name: 'Id', index: 'Id', width: 60, key: true, sorttype: "int" },
                    { name: 'Email', index: 'Email', width: 150, editable: true, editrules: { required: true, email: true } },
                    { name: 'Password', index: 'Password', width: 150, editable: true, editrules: { required: true } },
                    { name: 'FirstName', index: 'FirstName', width: 150, editable: true, editrules: { required: true } },
                    { name: 'LastName', index: 'LastName', width: 150, editable: true, editrules: { required: true } },
                    {
                        name: 'UserGroupName',
                        index: 'UserGroupId',
                        width: 150,
                        editable: true,
                        edittype: "select",
                        editoptions: {
                            dataUrl: '@Url.Action("GetUserGroups")',
                            buildSelect: function (response) {
                                return buildDropdown(response, false);
                            }
                        },
                        editrules: { required: true }
                    }, {
                        name: 'Status',
                        index: 'Status',
                        formatter: function (cellvalue, options, rowObject) {
                            switch (cellvalue) {
                                case @((int)UserEnums.UserStatusEnums.Active):
                                    return "Active";
                                case @((int)UserEnums.UserStatusEnums.Inactive):
                                    return "Inactive";
                                case @((int)UserEnums.UserStatusEnums.Locked):
                                    return "Locked";
                                default:
                                    return cellvalue;
                            }
                        },
                        width: 150,
                        editable: true,
                        edittype: "select",
                        editoptions: {
                            dataUrl: '@Url.Action("GetStatus")',
                            buildSelect: function (response) {
                                return buildDropdown(response, false);
                            }
                        },
                        editrules: { required: true }
                    },
                    { name: 'IdentityNumber', index: 'IdentityNumber', width: 150, editable: true, editoptions: { size: "20", maxlength: "30" } },
                    { name: 'Phone', index: 'Phone', width: 150, editable: true, editrules: { required: true } },
                    { name: 'Active', index: 'Active', width: 100, editable: true, edittype: "checkbox",  align:"center", editoptions: { value: "Yes:No", defaultValue: 'Yes' }, unformat: aceSwitch },
                    { name: 'LastLogin', index: 'LastLogin', width: 90, editable: false, sorttype: "datetime", unformat: pickDate },
                    { name: 'Created', index: 'Created', width: 100, editable: false, sorttype: "datetime", unformat: pickDate },
                    { name: 'CreatedBy', index: 'CreatedBy', width: 150, editable: false, editoptions: { size: "20", maxlength: "30" } },
                    { name: 'Updated', index: 'Updated', formatter: "date", width: 90, editable: false, sorttype: "datetime", unformat: pickDate },
                    { name: 'UpdatedBy', index: 'UpdatedBy', width: 150, editable: false, editoptions: { size: "20", maxlength: "30" } }
                ],
                pager: pagerSelector,
                rowNum: 10,
                rowList: [10, 20, 30],
                shrinkToFit: false,
                multiselect: true,
                editurl: '@Url.Action("Manage")',
                
                //Post params
                prmNames: { 'UserGroupName': 'UserGroupId' },
                
                //Default Value
                altRows: true,
                multiboxonly: true,
                autowidth: true,
                viewrecords: true,
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);
                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                }
            });

            //enable search/filter toolbar
            jQuery(gridSelector).jqGrid('filterToolbar', { defaultSearch: "cn", stringResult: true });
        });
    </script>
    <script src="/Scripts/Shared/grid.js"></script>

}
