@model PX.EntityModel.User
@using PX.Core.Ultilities
@{
    ViewBag.Header = "User Management";
    ViewBag.Title = "User Profile";
    ViewBag.Description = "User Management Page";
}

@section styles
{
    <link rel="stylesheet" href="/Content/BackEnd/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/jquery.gritter.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/select2.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/bootstrap-editable.css" />
    <style type="text/css">
        #map-canvas {
            width: 100%;
            height: 300px;
        }
    </style>
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="icon-double-angle-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#profile">
                        <i class="green icon-home bigger-110"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#logs">
                        <i class="green icon-book bigger-110"></i>Logs
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-minier">
                        <i class="icon-edit bigger-110"></i>
                        Edit this user
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="profile" class="tab-pane in active">
                    <div id="user-profile-1" class="user-profile row">
                        <div class="col-xs-12 col-sm-3 center">
                            <div>
                                <span class="profile-picture">
                                    <img id="avatar" class="img-responsive" alt="Alex's Avatar" src="@Model.AvatarPath" />
                                </span>
                                <div class="space-4"></div>

                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <a href="javascript:void(0)" class="user-title-label">
                                            <i class="icon-circle light-green middle"></i>
                                            &nbsp;<span class="white">@Model.FullName</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="hr hr16 dotted"></div>
                        </div>
                        <div class="col-xs-12 col-sm-9">

                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Email </div>

                                    <div class="profile-info-value">
                                        <span>@Model.Email</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">First Name </div>

                                    <div class="profile-info-value">
                                        <span data-name="FirstName">@Model.FirstName</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Last Name </div>

                                    <div class="profile-info-value">
                                        <span data-name="LastName">@Model.LastName</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Phone </div>

                                    <div class="profile-info-value">
                                        <span data-name="Phone">@Model.Phone</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Indentity Number </div>

                                    <div class="profile-info-value">
                                        <span data-name="IdentityNumber">@Model.IdentityNumber</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Last Online </div>

                                    <div class="profile-info-value">
                                        <span id="login">@Model.LastLoginHours.ToString("0") hours ago</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Birthday </div>

                                    <div class="profile-info-value">
                                        <span class="date" data-name="BirthDay">@(Model.BirthDay.HasValue ? Model.BirthDay.ToShortDateString() : DateTime.Now.ToShortDateString())</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Join </div>

                                    <div class="profile-info-value">
                                        <span>@Model.Created.ToLongDateString()</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Address </div>

                                    <div class="profile-info-value">
                                        <input id="address-input" class="controls" type="text" placeholder="Enter a location" value="@Model.Address" />
                                        <div id="map-canvas"></div>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">About @Model.FullName </div>

                                    <div class="profile-info-value">
                                        <span data-name="About">@Model.About</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="logs" class="tab-pane">
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="/Scripts/Shared/googleMapApi.js"></script>
}