@using PX.Business.Services.CurlyBrackets.CurlyBracketResolver
@using PX.Core.Ultilities
@model PX.Business.Models.News.CurlyBrackets.NewsCurlyBracket

@{
    ViewBag.Title = Model.Title;
    Layout = "DBTemplate.Master.cshtml";
}

@*@RenderCurlyBracket("{DynamicMenu}")*@

<div class="divWrapperBigHeadingIntroText">
    <div class="col-sm-11 col-sm-offset-1 bigHeadingIntroText">
        <h1>Tin tức</h1>
        <span>@Model.Title
        </span>
    </div>
</div>

<div class="divWrapperRoomBookingOnlineAndContact">
    <div class="col-sm-12">
        <ul class="blog-list">
            <li>
                <div class="info">
                    <div class="date">
                        <h4>@Model.LastUpdate.Day</h4>
                        <span>@Model.LastUpdate.ToString("MMM").ToUpper()</span>
                    </div>
                </div>
                <div class="preview">
                    <img class="img-responsive" src="@Model.ImageUrl" />
                    <a href="#">
                        <h3 class="blog-title">@Model.Title</h3>
                    </a>
                    <div class="meta-info">
                        <i class="fa fa-user"></i>
                        <a href="#">@Model.LastUpdatedBy</a>
                        <span>|</span>
                        <i class="fa fa-tag"></i>
                        @foreach (var item in Model.Categories)
                        {
                            <a href="@Url.Action("Details", "NewsCategory", new { id = item.Id, title = item.Name.ToUrlString() })">@item.Name ,</a>
                        }
                        <span>|</span>
                    </div>
                    <blockquote>@Model.Description</blockquote>
                    <div class="short-description">@Html.Raw(Model.Content)</div>
                </div>
            </li>
        </ul>
        @RenderCurlyBracket("{HotNews_5}")
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

