@section styles{
    <link rel="stylesheet" href="/Content/backend/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="/Content/backend/css/datepicker.css" />
    <link rel="stylesheet" href="/Content/backend/css/ui.jqgrid.css" />
}

<div class="page-content">
    <div class="page-header">
        <h1>jqGrid
			<small>
                <i class="icon-double-angle-right"></i>
                Dynamic tables and grids using jqGrid plugin
            </small>
        </h1>
    </div>
    <!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <table id="grid-table"></table>

            <div id="grid-pager"></div>

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
@section scripts
{
    <script src="/Content/backend/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/Content/backend/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="/Content/backend/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script type="text/javascript">
        var gridSelector = "#grid-table";
        var pagerSelector = "#grid-pager";
        jQuery(function ($) {

            jQuery(gridSelector).jqGrid({
                datatype: "json",
                url: "@Url.Action("_AjaxBinding")",
                height: 450,
                onSelectRow: function (id) {
                    var tmpId = $(gridSelector).getRowData(id)['Id'];
                    $(gridSelector).setColProp('ParentId', { editoptions: { dataUrl: '@Url.Action("GetParents")/' + tmpId } });
                },
                ondblClickRow: function (id) {
                    var tmpId = $(gridSelector).getRowData(id)['Id'];
                    $(gridSelector).setColProp('ParentId', { editoptions: { dataUrl: '@Url.Action("GetParents")/' + tmpId } });
                    jQuery(gridSelector).editRow(id, true);
                },
                colNames: [' ', 'Id', 'Name', 'Url', 'Controller', 'Action', 'Parent Menu', 'Order', 'Active', 'MenuClass', 'Created', 'CreatedBy', 'Updated', 'UpdatedBy'],
                colModel: [
                    {
                        name: 'myac',
                        index: '',
                        width: 80,
                        fixed: true,
                        sortable: false,
                        resize: false,
                        formatter: 'actions',
                        formatoptions: {
                            keys: true,
                            delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback }
                        },
                        search: false
                    },
                    { name: 'Id', index: 'Id', width: 60, key: true, sorttype: "int" },
                    { name: 'Name', index: 'Name', width: 150, editable: true, editrules: { required: true } },
                    { name: 'Url', index: 'Url', width: 150, editable: true },
                    { name: 'Controller', index: 'Controller', width: 150, editable: true },
                    { name: 'Action', index: 'Action', width: 150, editable: true },
                    {
                        name: 'ParentId', index: 'ParentId', width: 150, editable: true, edittype: "select",
                        editoptions: {
                            beforeSelectRow : function () {

                                var rowid = $(gridSelector).jqGrid('getGridParam', 'selrow');
                                alert(rowid);
                            },
                            beforeInitData: function () {
                                var rowid = $(gridSelector).jqGrid('getGridParam', 'selrow');
                                $(gridSelector).setColProp('ParentId', { editoptions: { dataUrl: '@Url.Action("GetParents")' + rowid } });
                            },
                            buildSelect: function (response) {
                                return buildDropdown(response);
                            }
                        }, editrules: { required: true }
                    },
                    { name: 'RecordOrder', index: 'RecordOrder', width: 150, sorttype: "int", editable: true },
                    { name: 'RecordActive', index: 'RecordActive', width: 150, editable: true, edittype: "checkbox", editoptions: { value: "Yes:No" }, unformat: aceSwitch },
                    { name: 'MenuClass', index: 'MenuClass', width: 150, editable: true },
                    { name: 'Created', index: 'Created', width: 100, editable: false, sorttype: "datetime", unformat: pickDate },
                    { name: 'CreatedBy', index: 'CreatedBy', width: 150, editable: false, editoptions: { size: "20", maxlength: "30" } },
                    { name: 'Updated', index: 'Updated', formatter: "date", width: 90, editable: false, sorttype: "datetime", unformat: pickDate },
                    { name: 'UpdatedBy', index: 'UpdatedBy', width: 150, editable: false, editoptions: { size: "20", maxlength: "30" } }
                ],
                viewrecords: true,
                rowNum: 10,
                rowList: [10, 20, 30],
                shrinkToFit: false,
                pager: pagerSelector,
                altRows: true,
                multiselect: true,
                multiboxonly: true,
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);
                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },
                editurl: '@Url.Action("Manage")',
                caption: "Menu Management",
                autowidth: true
            });

            //enable search/filter toolbar
            jQuery(gridSelector).jqGrid('filterToolbar', { defaultSearch: "cn", stringResult: true });
        });
    </script>
    <script src="/Scripts/Shared/grid.js"></script>

}
