@model PX.Business.Models.EmailAccounts.EmailAccountManageModel

@{
    ViewBag.Header = "Email Account Management";
    ViewBag.Title = "Edit";
    ViewBag.Description = "Edit Email Account";
}
<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-sm-7">
        @ShowStatusMessage()
        @using (Html.BeginForm("Edit", "EmailAccounts", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
    <div class="col-sm-offset-1 col-sm-4">
        <div class="page-header">
            <h2>Send Test Email
            </h2>
        </div>
        <div class="form-group">
            @MText(Tags.Label, "AdminModule:::EmailAccounts:::Forms:::SendEmailTo", "Send Email To", new { @class = "col-sm-4 control-label no-padding-right", @for = "SendEmailTo" })
            <div class="col-sm-8">
                <input type="text" id="test-email" class="col-xs-12" />
            </div>
        </div>
        <div class="space-16"></div>
        <div class="space-16"></div>
        <div class="clearfix form-actions">
            <div class="col-xs-12 center">
                <button id="send-test-button" class="btn btn-info btn-xs" type="button" style="margin-left: 10px; margin-top: 2px">
                    <i class="fa fa-envelope-o"></i>
                    Send Test Email
                </button>
            </div>
        </div>
    </div>
</div>
<div class="space-4"></div>
<hr />
<div class="row">
</div>
@section scripts
{
    <script type="text/javascript">
        $("#send-test-button").click(function() {
            var id = @Model.Id;
            var email = $("#test-email").val();
            var data = { Id: id, Email: email };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendTestEmail")',
                data: data,
                success: function(response) {
                    showMessage(response);
                }
            });
        })
    </script>
}
