@model PX.Business.Models.Settings.SettingTypes.PasswordSetting

<div class="form-group">
    @MText(Tags.Label, "AdminModule:::SiteSettings:::Forms:::PasswordMinLengthRequired", "Password Min Length Required", new { @class = "col-xs-4 control-label no-padding-right", @for = "Name" })
    <div class="col-xs-5">
        @Html.TextBoxFor(m => m.PasswordMinLengthRequired, new { @class = "col-xs-12" })
        @Html.ValidationMessageFor(m => m.PasswordMinLengthRequired)
    </div>
</div>
<div class="form-group">
    @MText(Tags.Label, "AdminModule:::SiteSettings:::Forms:::PasswordMustHaveDigit", "Password Must Have Digit", new { @class = "col-xs-4 control-label no-padding-right", @for = "Name" })
    <div class="col-xs-5">
        @Html.CheckBoxFor(m => m.PasswordMustHaveDigit)
        @Html.ValidationMessageFor(m => m.PasswordMustHaveDigit)
    </div>
</div>
<div class="form-group">
    @MText(Tags.Label, "AdminModule:::SiteSettings:::PasswordMustHaveSymbol:::PasswordMustHaveSymbol", "Password Must Have Symbol", new { @class = "col-xs-4 control-label no-padding-right", @for = "Name" })
    <div class="col-xs-5">
        @Html.CheckBoxFor(m => m.PasswordMustHaveSymbol)
        @Html.ValidationMessageFor(m => m.PasswordMustHaveSymbol)
    </div>
</div>
<div class="form-group">
    @MText(Tags.Label, "AdminModule:::SiteSettings:::Forms:::PasswordMustHaveUpperAndLowerCaseLetters", "Password Must Have Upper And Lower Case Letters", new { @class = "col-xs-4 control-label no-padding-right", @for = "PasswordMustHaveSymbol" })
    <div class="col-xs-5">
        @Html.CheckBoxFor(m => m.PasswordMustHaveUpperAndLowerCaseLetters)
        @Html.ValidationMessageFor(m => m.PasswordMustHaveUpperAndLowerCaseLetters)
    </div>
</div>