@model PX.Business.Models.Menus.AdminMenuModel
@{
    var hierarchy = (string)ViewBag.Hierarchy;
    var isSelected = hierarchy.Equals(Model.Hierarchy);
    var isOpen = hierarchy.Contains(Model.Hierarchy);
    
    var cClass = string.Empty;
    if (isSelected)
    {
        cClass = "active";
    }
    else if (isOpen)
    {
        cClass = "open active";
    }
    var url = !string.IsNullOrEmpty(Model.Url) ?
        Model.Url
        : (string.IsNullOrEmpty(Model.Controller) || string.IsNullOrEmpty(Model.Action) ?
            "#"
            : Url.Action(Model.Action, Model.Controller));
    //if(url.Equals("#") && !Model.ChildMenus.Any())
    //{
    //    return;
    //}
}
<li class="@cClass">
    <a href="@url" class="dropdown-toggle">
        <i class="@Model.MenuIcon"></i>
        <span class="menu-text">@Model.Name </span>
        @if (Model.ChildMenus.Any())
        {
            <b class="arrow fa fa-angle-down"></b>
        }
    </a>
    @if (Model.ChildMenus.Any())
    {
        <ul class="submenu" style="@(isOpen ? "display: block" : "")">
            @foreach (var item in Model.ChildMenus.OrderBy(m => m.RecordOrder))
            {
                @Html.DisplayFor(m => item)             
            }
        </ul>
    }
</li>
