@using PX.Business.Mvc.Environments
@using PX.Business.Services.Menus
@model PX.EntityModel.Menu
@{
    var hierarchy = (string)ViewBag.Hierarchy;
    var isSelected = hierarchy.Equals(Model.Hierarchy);
    var isOpen = hierarchy.Contains(Model.Hierarchy);

    var menusServices = HostContainer.GetInstance<IMenuServices>();
    var childMenus = menusServices.GetMenus(Model.Id);

    string cClass = string.Empty;
    if (isSelected)
    {
        cClass = "active";
    }
    else if (isOpen)
    {
        cClass = "open active";
    }
    var url = !string.IsNullOrEmpty(Model.Url) ? Model.Url : (string.IsNullOrEmpty(Model.Controller) ? "#" : Url.Action(Model.Action, Model.Controller));
    if(url.Equals("#") && !childMenus.Any())
    {
        return;
    }
}
<li class="@cClass">
    <a href="@url" class="dropdown-toggle">
        <i class="@Model.MenuIcon"></i>
        <span class="menu-text">@Model.Name </span>
        @if (childMenus.Any())
        {
            <b class="arrow icon-angle-down"></b>
        }
    </a>
    @if (childMenus.Any())
    {
        <ul class="submenu" style="@(isOpen ? "display: block" : "")">
            @foreach (var item in childMenus.OrderBy(m => m.RecordOrder))
            {
                @Html.DisplayFor(m => item)             
            }
        </ul>
    }
</li>
