@{
    ViewBag.Header = "Rotating Image Groups";
    ViewBag.Title = "Rotating Image Group Management";
    ViewBag.Description = "Rotating Image Group Management Page";
}
@section styles{
    <link rel="stylesheet" href="/Content/backend/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="/Content/backend/css/datepicker.css" />
    <link rel="stylesheet" href="/Content/backend/css/ui.jqgrid.css" />
}
<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="icon-double-angle-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>
@ShowStatusMessage()
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <table id="grid-table"></table>

        <div id="grid-pager"></div>

        <!-- PAGE CONTENT ENDS -->
    </div>
</div>
@section scripts
{
    <script src="/Scripts/BackEnd/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/Scripts/BackEnd/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="/Scripts/BackEnd/jqGrid/i18n/grid.locale-en.js"></script>
    <script type="text/javascript">
        var gridSelector = "#grid-table";
        var pagerSelector = "#grid-pager";
        var navButtonsSetup = {
            enableEdit: true,
            enableCreate: true,
            enableDelete: true,
            enableSearch: true,
            enableRefresh: true,
            enableView: true
        };
        jQuery(function ($) {
            jQuery(gridSelector).jqGrid({
                datatype: "json",
                url: "@Url.Action("_AjaxBinding")",
                caption: "Rotating Image Group Management",
                height: 370,
                ondblClickRow: function (rowId) {
                    jQuery(gridSelector).editRow(rowId, true);
                },
                colNames: ['', 'Id', 'Name', 'Active', 'Created', 'CreatedBy', 'Updated', 'UpdatedBy'],
                colModel: [
                    {
                        name: 'action', width: 80, sortable: false, search: false, align: "center",
                        formatter: function (cellvalue, options, rowObject) {
                            var settingIcon = "<a class='grid-action' href='@Url.Action("EditSettings")/" + options.rowId + "'><div class='ui-pg-div ui-inline-edit' title='' data-original-title='Config Settings'><span class='icon-cogs'></span></div></a>";
                            var showImagesIcon = "<a class='grid-action' href='@Url.Action("Gallery")/" + options.rowId + "'><div class='ui-pg-div ui-inline-edit' title='' data-original-title='Show Group Images'><span class='icon-film'></span></div></a>";
                            return settingIcon + showImagesIcon;
                        }
                    },
                    { name: 'Id', index: 'Id', width: 60, key: true, sorttype: "int" },
                    { name: 'Name', index: 'Name', width: 150, editable: true, editrules: { required: true } },
                    { name: 'Active', index: 'Active', width: 100, editable: true, edittype: "checkbox",  align:"center", editoptions: { value: "Yes:No", defaultValue: 'Yes' }, unformat: aceSwitch },
                    { name: 'Created', index: 'Created', formatter: "date", width: 80, editable: false, sorttype: "datetime", unformat: pickDate },
                    { name: 'CreatedBy', index: 'CreatedBy', width: 180, editable: false, editoptions: { size: "20", maxlength: "30" } },
                    { name: 'Updated', index: 'Updated', formatter: "date", width: 80, editable: false, sorttype: "datetime", unformat: pickDate },
                    { name: 'UpdatedBy', index: 'UpdatedBy', width: 180, editable: false, editoptions: { size: "20", maxlength: "30" } }
                ],
                pager: pagerSelector,
                rowList: [10, 20, 30],
                shrinkToFit: false,
                editurl: '@Url.Action("Manage")',

                //Default Value
                altRows: true,
                multiboxonly: true,
                autowidth: true,
                viewrecords: true,
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);
                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                }
            });

            //enable search/filter toolbar
            jQuery(gridSelector).jqGrid('filterToolbar', { defaultSearch: "cn", stringResult: true });
        });
    </script>
    <script src="/Scripts/Shared/grid.js"></script>

}
