@using PX.Core.Framework.Enums
@model PX.Business.Models.Settings.SiteSettingManageModel

@{
    ViewBag.Header = "Setting Management";
    ViewBag.Title = "Edit Setting";
    ViewBag.Description = "Edit Setting";
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="icon-double-angle-right"></i>
            @ViewBag.Title: @Model.SettingName
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        @ShowStatusMessage()
        @using (Html.BeginForm("Edit", "SiteSettings", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.SettingName)
            @Html.EditorFor(m => m.Setting, "", "")
            <div class="space-4"></div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <a class="btn btn-link" href="@Url.Action("Index")">
                        Back To List
                    </a>
                    <button class="btn btn-primary" type="submit" value="@SubmitTypeEnums.Save" name="Submit">
                        <i class="icon-ok bigger-110"></i>
                        Save
                    </button>
                    <button class="btn btn-info" type="submit" value="@SubmitTypeEnums.SaveAndContinueEdit" name="Submit">
                        <i class="icon-ok bigger-110"></i>
                        Save and Continue Edit
                    </button>
                    <button class="btn" onclick="location.href= window.location.href;" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </div>
        }
    </div>
</div>
