@using PX.Core.Framework.Enums
@model PX.Business.Models.Settings.SiteSettingManageModel

@{
    ViewBag.Header = "Setting Management";
    ViewBag.Title = "Edit Setting";
    ViewBag.Description = "Edit Setting";
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title: <b>@Model.SettingName</b>
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        @ShowStatusMessage()
        @using (Html.BeginForm("Edit", "SiteSettings", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.SettingName)
            <div class="form-group">
                @MText(Tags.Label, "AdminModule:::SiteSettings:::Forms:::SettingTypes", "Setting Type", new { @class = "col-xs-4 control-label no-padding-right", @for = "Value" })
                <div class="col-xs-5">
                    @Html.DropDownListFor(m => m.SettingTypeId, Model.SettingTypes)
                    @Html.ValidationMessageFor(m => m.SettingTypeId)
                </div>
            </div>
            @Html.EditorFor(m => m.Setting, "", "")
            <div class="space-4"></div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <a class="btn btn-link" href="@Url.Action("Index")">Back To List
                    </a>
                    <button class="btn btn-primary" type="submit" value="@SubmitTypeEnums.Save" name="Submit">
                        <i class="fa fa-check bigger-110"></i>
                        Save
                    </button>
                    <button class="btn btn-info" type="submit" value="@SubmitTypeEnums.SaveAndContinueEdit" name="Submit">
                        <i class="fa fa-check bigger-110"></i>
                        Save and Continue Edit
                    </button>
                    <button class="btn" onclick="location.href= window.location.href;" type="reset">
                        <i class="fa fa-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </div>
        }
    </div>
</div>
